body {  
  background-image: url("../img/wallpapersden.com_anime-city-4k-top-view_4096x2272.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.body{
  width: 90vw;
  max-width: 400px; 
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;}

.formulario {
  backdrop-filter: blur(10px);
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.senha, .cpf {
  margin-bottom: 15px;
  width: 100%;
}

.senha input, .cpf input {
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  border-bottom: 2px solid rgb(66, 32, 185);
  
  color: white;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.senha input:focus, .cpf input:focus {
  outline: none;
  border-color: rgb(255, 255, 255);
}

.buton {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.buton:hover {
  background-color: rgb(168, 168, 168);
}


